In [45]:
# Imports

import pandas as pd
import json

from dotenv import load_dotenv
import os

# Load environment variables from .env file
load_dotenv()
# Extract path variables
cdc_tickets_path = os.getenv('CDC_TICKETS_PATH')
mcmn_tickets_path = os.getenv('MCMN_TICKETS_PATH')

In [ ]:
# Load CDC tickets from Excel file
df_cdc = pd.read_excel(cdc_tickets_path, sheet_name='main')

In [50]:
# Load MCMN tickets from JSON file
with open(mcmn_tickets_path, 'r', encoding='utf-8') as f:
    mcmn_data = json.load(f)

# Flatten JSON data for MCMN tickets
flat_data = []
for ticket in mcmn_data:
    for message in ticket['messages']:
        flat_data.append({
            'Number': ticket['Number'],
            'timestamp': message['timestamp'],
            'text': message['text'],
            'resolution_note': ticket['resolution_note']
        })

# Create and preprocess DataFrame from flattened MCMN data
df_mcmn = pd.DataFrame(flat_data)
df_mcmn['timestamp'] = pd.to_datetime(df_mcmn['timestamp'], errors='coerce')
df_mcmn = df_mcmn.dropna(subset=['timestamp'])

In [51]:
df_mcmn

,Number,timestamp,text,resolution_note
1,INC4964672,2025-04-30 09:24:01,error for material# 10456231\nVendor Material ...,None
2,INC4964672,2025-04-30 09:31:21,"Hello Hassan,\n\nCan we have a short call to d...",None
3,INC4964672,2025-05-05 09:50:17,"Hello Hassan,\n\nCan we have a short call to d...",None
4,INC4964672,2025-05-05 13:50:03,reply from: hassan.ibrahim@siemens-healthineer...,None
5,INC4964672,2025-05-06 08:11:46,"Hello Hassan,\n\nI have shared you the meeting...",None
...,...,...,...,...
58082,INC0072021,2017-08-01 11:02:45,"Hello Maggie,\n\nafter some more investigation...",too costly and at the botton of the ranking.
58083,INC0072021,2018-01-30 10:38:22,"Hello Maggie,\ncreated a change request for this.",too costly and at the botton of the ranking.
58084,INC0072021,2018-02-21 10:39:10,(work notes) https://jira.pirobase.de/jira/bro...,too costly and at the botton of the ranking.
58085,INC0072021,2018-02-23 12:23:09,"Hello Maggie,\n\nthis is discussed now with ou...",too costly and at the botton of the ranking.
58086,INC0072021,2018-05-09 10:39:03,"Hello Maggie,\n\nwhen taking into account how ...",too costly and at the botton of the ranking.